<%= form_with(model: [@todo_list, @todo_list.todo_items.build], local: true) do |form| %>
  <div class="field">
    <%= form.text_field :content, placeholder: "New todo"  %>
  </div>

  <div class="button-container btn-column">
    <div class="button new-object-container">
      <%= form.submit "CREATE TASK" %>
    </div>
      <%= link_to todo_lists_path, :class => "button new-object-container" do %>
        <div>BACK</div>
      <% end %>
  </div>
<% end %>
