<div class="title-container">
  <h1><%= @todo_list.title.upcase %></h1>
</div>

<h4><%= @todo_list.description %></h4>

<%= render @todo_list.todo_items.order('is_completed ASC NULLS FIRST, priority, created_at') %>

<%= render :partial => "todo_items/form" %>
