// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$breakpoint-phone: 600px;
$glg_pink: #fa2b6b;
$glg_black: black;
$glg_white: white;

body {
  background-color: #f7f9fc;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Karla', sans-serif;

  .fa {
    color: $glg_black;

    &:hover,
    &:focus {
      color: $glg_pink;
    }
  }

  a {
    color: $glg_black;
  }

  a:hover {
    color: $glg_pink;
    text-decoration: none;
  }

  .title-container {
    width: 75%;
    background-color: $glg_pink;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $glg_white;
  }

  h4 {
    font-style: italic;
  }

  .card-link {
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: $glg_white;
    width: 75%;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: 5px 5px 2.5px grey;
  }

  .time-statement {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .button {
      margin: 5px;
    }
  }

  .btn-column {
    flex-direction: column;
  }

  .new-object-container {
    width: 75%;
    height: 45px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $glg_black;
    background-color: #f7f9fc;

    input {
      background-color: inherit;
      border-color: transparent;
    }

    &:hover,
    &:hover a {
      background-color: $glg_pink;
      border-color: $glg_pink;
      color: $glg_white;
    }

    a {
      color: $glg_black;
      text-decoration: none;
    }
  }

  form {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  form,
  input,
  textarea {
    width: 75%;
    margin: 10px 0px;
  }

  input {
    height: 35px;
    padding: 5px;
  }

  textarea {
    height: 75px;
    padding: 5px;
  }

  .priority-labels {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $glg_pink;
    margin-top: 10px;
  }

  .priority-range {
    width: 75%;
  }
}

@media (max-width: $breakpoint-phone) {
  body {
    width: 100%;

    .title-container {
      width: 95%;
      height: 10vh;
    }

    .card {
      width: 95%;
    }
    .new-object-container {
      width: 95%;

      input {
        background-color: inherit;
        border-color: transparent;
      }
    }

    form,
    input,
    textarea {
      width: 95%;
      margin: 10px 0px;
    }

    input {
      height: 35px;
    }

    textarea {
      height: 75px;
    }

    .priority-labels {
      width: 95%;
    }

    .priority-range {
      width: 95%;
    }
  }
}
